
	<h1>School Purchases</h1>
	<% @schools.each do |school| %>
	<%= school.name %>
		<% @school_purchases.each do |purchase| %>
			<% if school.ben == purchase.ben %>
			<%= purchase.bandwidth %>
			<% end %>
	<!-- <%= purchase.ben %> -->
		<% end %>
	
	<% end %>
	
<div class="row">
  <!-- Column Chart --> 
  <div class="col-xs-6">
    <h3>Total Purchases Per School</h3>
    <%= column_chart @school_purchases.group(:ben).count %>
  </div>