
	<h1>School Purchases</h1>
	<% @schools.each do |school| %>
	<%= school.name %>: 
		<% @school_purchases.each do |purchase| %>
			<% if school.ben == purchase.ben %>
				<% if purchase.measure=="k" %>
					<% purchase.bandwidth = purchase.bandwidth/1000 %>
				<% elsif purchase.measure=="g" %>
					<% purchase.bandwidth = purchase.bandwidth*1000 %>
				<% elsif purchase.measure=="t" %>
					<% purchase.bandwidth = purchase.bandwidth*1000000 %>
				<% end %>

				<%= purchase.bandwidth / purchase.cost %> 
			<% end %>
	<!-- <%= purchase.ben %> -->
		<% end %>
	
	<% end %>
	
<div class="row">
  <!-- Column Chart --> 
  <div class="col-xs-6">
    <h3>Total Purchases Per School</h3>
    <%= column_chart @school_purchases.group(:ben).sum(:bandwidth) %>
  </div>