<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
</head>
<body>
	
<h1>Schools#index</h1>


<p>Find me in app/views/schools/index.html.erb</p>

</body>
</html>